TINVEST_TOKEN=              # T-Bank invest token (https://developer.tbank.ru/invest/intro/intro/token)

TELEGRAM_BOT_TOKEN=         # Token for telegram chat bot, if you want notifications
TELEGRAM_CHAT_ID=           # Your chat id (write a message to your bot, and do `curl https://api.telegram.org/bot<YOUR_BOT_TOKEN>/getUpdates`)

# Market setup
DAYS_TO_MATURITY_MAX=30     # Maximum days to maturity for bond
ASK_MIN_ANNUAL_YIELD=       # Minimum annual yield in percent (ask sniper)
ASK_MAX_ANNUAL_YIELD=       # Maximum annual yield in percent (ask sniper)
BID_MIN_ANNUAL_YIELD=       # Minimum annual yield in percent (bid waiter)
BID_MAX_ANNUAL_YIELD=       # Maximum annual yield in percent (bid waiter)
TOTAL_MAX_SUM_PER_BOND=     # Maximum sum of bonds in RUB for one ticker (shared cap across strategies)
ASK_MAX_SUM_PER_PURCHASE=   # Maximum sum of bonds in RUB for one ticker per one ask sniper purchase
BID_MAX_SUM_PER_BOND=       # Maximum sum of bonds in RUB for one ticker held by the bid waiter
BLACK_LIST_TICKERS='["RU000A105JN7", "RU000A10A3R1"]'     # Black list of tickers
BOND_REFRESH_INTERVAL_HOURS=4     # How often to refresh bonds in hours (needs for updating bond's ACI value, maturity state and etc.)
