# t-bank (https://developer.tbank.ru/invest/intro/intro/token)
TINVEST_TOKEN=

# telegram (if you want notifications)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# app
LOG_LEVEL=INFO    # (DEBUG, INFO, WARNING, ERROR)
BOND_REFRESH_INTERVAL_HOURS=4
ASK_COOLDOWN_SECONDS=300
BID_COOLDOWN_SECONDS=300

# market
DAYS_TO_MATURITY_MAX=30

ASK_MIN_ANNUAL_YIELD=
ASK_MAX_ANNUAL_YIELD=

BID_MIN_ANNUAL_YIELD=
BID_MAX_ANNUAL_YIELD=

TOTAL_MAX_SUM_PER_BOND=

ASK_MAX_SUM_PER_PURCHASE=
BID_MAX_SUM_PER_BOND=

BLACK_LISTED_TICKERS='["RU000A105JN7", "RU000A10A3R1"]'  # json array of tickers to skip
